* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}
/*---ASIDE_STYLE-------------------------------------*/


.aside_wrapper {
    width: 100%;
    background: #181818;
    display: flex;
    align-items: center;
    height: 28%;
}
/*Score style*/

.score_wrapper {
    background: #313030;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 2%;
    margin-bottom: 0;
}

.score_text {
    color: #e1e1e1;
    font-size: 6em;
    font-family: monospace;
}
.score {
    color: #e1e1e1;
    font-size: 6em;
    font-family: monospace;
}


/*Score style end*/
/*Example screen style*/

.example_screen {
    width: 33%;
    height: 110%;
    background: white;
    border: 1px dashed black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 100;
}


/*Example screen style end*/

/*Controls style end*/

.controls {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*Controls screen style end*/
/*Timer style*/

.timer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 2%;
    height: 50%;
    flex: 1 1 50%;
}

.timer_text {
    color: white;
    font-size: 5em;
    text-align: center;
}
.fa-clock {
    color: white;
    font-size: 60px;
    width: 60px;
    height: 60px;
    z-index: 100;
}

/*Timer style end*/


/*Button style end*/
.button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex: 1 1 50%;
}

.begin_button {
    height: 50%;
    width: 50%;
    background: none;
    border: 2px solid #ffffff;
    color: white;
    font-size: 2.5em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 50%;
    pointer-events: none;
    position: relative;

}


.begin_button::before,
.begin_button::after {
    content: '';

}

.begin_button::before {
    left: -100%;
}

.begin_button::after {
    right: -100%;
}

.begin_button:hover::before{
    opacity: 100%;
    transform: translateX(50%);

}

.begin_button:hover::after{
    opacity: 100%;
    transform: translateX(-50%);
}


/*---GAME_SPACE_STYLE-------------------------------------*/

.game_space_wrapper {
    flex-grow: 1;
    overflow: hidden;
}

footer {
    background: black;
    height: 10%;
}

canvas .active{
    pointer-events: auto;
}

canvas {
    pointer-events: none;
}


.active {
    opacity: 100%;
    pointer-events: auto;
}


