* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}
/*---ASIDE_STYLE-------------------------------------*/


.aside_wrapper {
    width: 100%;
    background: #181818;
    display: flex;
    align-items: center;
    height: 28%;
}
/*Score style*/

.score_wrapper {
    background: #f5ae07;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 2%;
    margin-bottom: 0;
}

.score_text {
    color: #ad3613;
    font-size: 7em;
    font-family: monospace;
}

.score {
    color: #ad3613;
    font-size: 7em;
    font-family: monospace;
}
/*Score style end*/


/*Example screen style*/
.example_screen {
    width: 33%;
    height: 110%;
    background: white;
    border: 1px dashed black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 100;
}
/*Example screen style end*/


/*Timer style*/
.timer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 2%;
    height: 50%;
    flex: 1 1 50%;
}

.timer_text {
    color: white;
    font-size: 5em;
    text-align: center;
}

.fa-clock {
    color: white;
    font-size: 60px;
    width: 60px;
    height: 60px;
    z-index: 100;
}
/*Timer style end*/


/*Button style*/
.controls {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 5px;
    background: #090970;
}

.button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex: 1 1 50%;
}

.begin_button {
    height: fit-content;
    width: 50%;
    background: none;
    border: 3px solid #ffffff;
    background: #8e97d9;
    color: #051859;
    font-size: 4em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none;
    position: relative;
    box-shadow: 3px 3px #7573b9;
    overflow: hidden;
}

.begin_button:active {
    box-shadow: none;
    transform: translateX(3px) translateY(3px);
}

.begin_button::before,
.begin_button::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: black;
    transition: all 1s ease-in-out;
    opacity: 0.1;
}

.begin_button.active::before {
    left: -100%;
}

.begin_button.active::after {
    right: -100%;
}

.begin_button::before{
    left: 0;

}

.begin_button::after{
    right: 0;
}
/*Button style end*/

/*---GAME_SPACE_STYLE-------------------------------------*/

.game_space_wrapper {
    flex-grow: 1;
    overflow: hidden;
}

footer {
    background: rgb(4, 24, 58);
    height: 5%;
}

canvas .active{
    pointer-events: auto;
}

canvas {
    pointer-events: none;
}


.active {
    opacity: 100%;
    pointer-events: auto;
}


